@import url('https://fonts.googleapis.com/css?family=Inria+Sans&display=swap');
@import './reset.scss';

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: 25px;
  height: 30px;
  background: darkgray;
  transition: 0.2s ease-in;
}

body {
}

a {
  display: block;
  text-decoration: none;
  color: darkgray;
  &:hover {
    color: white;
  }
}

.license-link {
  float: right;
}

[type='range'] {
  &,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
}

.main {
  display: flex;
  flex-direction: column;

  .elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 30%;

    .elem {
      width: 30px;
      margin-left: 2px;
      background-color: red;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-family: 'Inria Sans', sans-serif;
      color: white;
      font-weight: bold;
    }
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(27, 27, 27, 0.5);
    height: 40px;

    [name='speed'] {
      height: 30px;
      margin-top: 2px;
    }
  }
}

.button-main {
  width: 150px;
  height: 25px;
  margin-left: 20px;
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
  background-color: none;
  font-weight: bold;
  transition: 0.2s ease-in;
  margin-top: 5px;
  &:hover {
    background-color: darkgrey;
    color: white;
  }
}

.slider {
  -webkit-appearance: none;
  background-color: black;
  border: none;
  transition: 0.2s ease-in;
  margin-left: 10px;
  height: 30px;
  &::-webkit-slider-thumb {
    @include thumb;
  }

  &:hover {
    background-color: black;
  }
}
